body,
h1,
h2,
h5 {
    font-family: 'Product Sans', sans-serif;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url('https://images.unsplash.com/photo-1579603263858-4c7a3743fa1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-title {
    font-size: 3em;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(88, 86, 86, 0.5);
}

.powered-by-section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    padding: 5px 20px;
    transform: translateX(-50%);
}

#liveClock {
    font-size: 1.5rem;
    /* Adjust the size as per your preference */
    color: rgb(240, 87, 87);
}

.powered-by-section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    padding: 5px 20px;
    transform: translateX(-50%);
}

.font-weight-bold {
    color: #FBBA00;
}

